# Ignore node_modules, build, coverage, and env files inside the React app folder
/pos-ui-react/node_modules/
/pos-ui-react/.pnp
/pos-ui-react/.pnp.js
/pos-ui-react/coverage/
/pos-ui-react/build/

# Ignore environment-specific files
/pos-ui-react/.env.local
/pos-ui-react/.env.development.local
/pos-ui-react/.env.test.local
/pos-ui-react/.env.production.local

# Ignore system files and logs
/pos-ui-react/.DS_Store
/pos-ui-react/npm-debug.log*
/pos-ui-react/yarn-debug.log*
/pos-ui-react/yarn-error.log*
